/*==================================
* Helpers
===================================*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;


     border-radius: 0;
     

}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/*==================================
* Spinner
===================================*/
.kt-spinner{
    position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9999999;
	display: none;
	background: url(../images/spinner.gif) no-repeat center center;
}
/* ============================================================
  Visual Composer
============================================================ */
.wpb_el_type_kt_image_select input.kt_image_select_radio{
    display: none;
}
.wpb_el_type_kt_image_select label{
    display: inline-block;
    margin: 0 5px 5px 0;
}
.wpb_el_type_kt_image_select img{
    border: 4px solid #e6e6e6;
}
.wpb_el_type_kt_image_select input[type=radio]:checked + img{
    border-color: #093459;
}

/* ============================================================
  SWITCH
============================================================ */
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input.cmn-toggle-round-flat + label {
    padding: 2px;
    width: 80px;
    height: 30px;
    background-color: #dddddd;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
}
input.cmn-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #fff;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 26px;
    background-color: #dddddd;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px;
    border-radius: 26px;
    -webkit-transition: margin 0.4s, background 0.4s;
    -moz-transition: margin 0.4s, background 0.4s;
    -o-transition: margin 0.4s, background 0.4s;
    transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
    background-color: #8ce196;
}
input.cmn-toggle-round-flat:checked + label:after {
    margin-left: 49px;
    background-color: #8ce196;
}
/*==================================
* Widget KT image
===================================*/
.kt_image_preview{
    border: 1px solid #ddd;
    display: none;
    margin: 10px 0;
    padding: 2px;
    position: relative;
    text-align: center;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
}
.kt_image_preview img{
    max-width: 100%;
    display: block;
}
.kt_image_preview i{
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 20px;
}

/*==================================
* Custom stype for metabox
===================================*/
.rwmb-meta-box{
    margin-top: 20px;
}
.rwmb-meta-box .rwmb-label{
    font-size: 14px;
    font-weight: bold;
    width: 34%;
}
.rwmb-meta-box .rwmb-label ~ .rwmb-input{
    width: 64%;
}
div#post-body .rwmb-select-advanced{
    min-width: 330px;
}

div#post-body .rwmb-select{
    -moz-appearance: none;
    background: url("../images/selectbox-arrow.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    border: 1px solid #e4e4e4;
    cursor: pointer;
    height: 30px;
    width: 174px;
    box-shadow: none;
}
.rwmb-radio_image-wrapper .rwmb-input label{
    float:left;
    text-align:center;
    margin:0 10px;
}
#side-sortables .rwmb-input .rwmb-text{
    max-width: 100%;
}
.slider-no-image-preview .upload_button_div, 
.slider-no-image-preview .redux_slides_add_remove{
     display: none;
}
/*==================================
* Troubleshooting
===================================*/
.form-table td fieldset .troubleshooting{
    
}
.form-table td fieldset .troubleshooting ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.form-table td fieldset .troubleshooting li {
    background: none repeat scroll 0 0 #f3f3f3;
    line-height: 30px;
    margin-bottom: 3px!important;
    padding: 0 8px;
}
.form-table td fieldset .troubleshooting li span{
    font-weight: bold;
}
/*==================================
* Icon for post type
===================================*/
#menu-posts-designer .dashicons-before:before{
    font-family: "ElegantIcons";
    font-size: 16px;
}
#menu-posts-designer .dashicons-before:before{
    content: "\e08b";
}

/*==================================
* Disable post-preview for some post type
===================================*/

.post-type-collection #post-preview{
    display: none;
}
.post-type-collection #preview-action:before{
    content: ' ';
    color: red;
    text-align: left;
    display: block;
    
}
.post-type-collection #titlediv div.inside{
    display: none;
}
/*==================================
* WBC Importer
===================================*/
.theme-browser .theme .theme-name{
    text-transform: capitalize;
}
.wbc_importer .theme-browser .theme .spinner{
    display: none;
    visibility: visible;
}

.content .item{
    border: 1px solid #e4e4e4;
    padding: 0 10px;
    margin-bottom: 10px;
    position: relative;
}
.multi-item .item .remove{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    right: 5px;
    background-color: red;
    color: #fff;
    text-align: center;
    cursor: pointer;
    line-height: 20px;
    display: block;
}

/*==================================
* Responsive
===================================*/
@media screen and (max-width:782px){
    .menu-item-settings input[type="checkbox"]{width:auto;}
}
/*==================================
* END Responsive
===================================*/
.section-heading{
    text-transform: uppercase;
    border-radius: 0;
    transition: all 1s ease-out;

}








